	<div id="wizard" class="row hidden-xs">
          <div class="col-xs-12">
              <ul class="nav nav-pills nav-justified thumbnail">
                  <li ng-repeat='step in $ctrl.enabledSteps' ng-class="{'active':step.isCurrent,'disabled':$ctrl.getStep()<$index+1}">
                    <a href="#" ng-click="$ctrl.stepGo(step.id)">
                      <h4 class="list-group-item-heading">Step {{$index+1}}</h4>
                      <p class='hidden-xs' class="list-group-item-text">{{step.label}}</p>
                    </a>
                  </li>
              </ul>
          </div>
    </div>
    <div class="row visible-xs">
      <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail">
                    <li class="active">
                    <a href="#">
                      <h4 class="list-group-item-heading">Step {{$ctrl.getStep()+1}} of {{$ctrl.enabledSteps.length}}</h4>
                    </a>
                    </li>
                </ul>
      </div>
    </div>
    <div ng-transclude></div>